<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 th:text="${userProfile.userName} + '\'s Profile'"></h1>
        <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">

            <div class="form-group">
                <label for="theme"><strong>Select your profile theme:</strong></label>
                <select id="theme" th:field="*{theme}">
                    <option th:each="i : ${#numbers.sequence(1, 2)}" th:value="${i}" th:text="${'Theme ' + i}"
                            th:selected="${i} eq *{theme}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstName"><strong>First Name:</strong></label>
                <input id="firstName" class="form-control" th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="lastName"><strong>Last Name:</strong></label>
                <input id="lastName" class="form-control" th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="designation"><strong>Designation:</strong></label>
                <input id="designation" class="form-control" th:field="*{designation}">
            </div>
            <div class="form-group">
                <label for="email"><strong>Email:</strong></label>
                <input id="email" class="form-control" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="phone"><strong>Phone Number:</strong></label>
                <input id="phone" class="form-control" th:field="*{phone}">
            </div>
            <div class="form-group">
                <label for="summary"><strong>Summary:</strong></label>
                <textarea id="summary" class="form-control" th:field="*{summary}"></textarea>
            </div>

            <h2>Experience</h2>
            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Current Job?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job, stat : *{jobs}">
                        <td><input class="form-control" th:field="*{jobs[__${stat.index}__].company}"></td>
                        <td><input class="form-control" th:field="*{jobs[__${stat.index}__].designation}"></td>
                        <td><input class="form-control" type="date" th:field="*{jobs[__${stat.index}__].startDate}"></td>
                        <td><input class="form-control" type="date" th:field="*{jobs[__${stat.index}__].endDate}"></td>
                        <td><input class="form-control" type="checkbox" th:field="*{jobs[__${stat.index}__].currentJob}"></td>
                    </tr>
                </tbody>
            </table>
            <p><a href="./edit?add=job">Add job</a></p>

            <h2>Education</h2>
            <table>
                <thead>
                <tr>
                    <th>College</th>
                    <th>Qualification</th>
                    <th>Major</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="education, stat : *{educations}">
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].college}"></td>
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].qualification}"></td>
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].major}"></td>
                    <td><input class="form-control" type="date" th:field="*{educations[__${stat.index}__].startDate}"></td>
                    <td><input class="form-control" type="date" th:field="*{educations[__${stat.index}__].endDate}"></td>
                </tr>
                </tbody>
            </table>
            <p><a href="./edit?add=education">Add education</a></p>

            <h2>Skills</h2>
            <table>
                <tbody>
                <tr th:each="skill, stat : *{skills}">
                    <td><input class="form-control" th:field="*{skills[__${stat.index}__]}"></td>
                </tr>
                </tbody>
            </table>
            <p><a href="./edit?add=skill">Add skill</a></p>

            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>