<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 th:text="${userProfile.userName} + '\'s Profile'"></h1>
        <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">
            <div class="form-group">
                <label for="firstName">First Name: </label>
                <input id="firstName" class="form-control" th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name: </label>
                <input id="lastName" class="form-control" th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="designation">Designation: </label>
                <input id="designation" class="form-control" th:field="*{designation}">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input id="email" class="form-control" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number: </label>
                <input id="phone" class="form-control" th:field="*{phone}">
            </div>
            <div class="form-group">
                <label for="summary">Summary: </label>
                <input id="summary" class="form-control" th:field="*{summary}">
            </div>

            <h2>Experience</h2>
            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Current Job?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job, stat : *{jobs}">
                        <td><input class="form-control" th:field="*{jobs[__${stat.index}__].company}"></td>
                        <td><input class="form-control" th:field="*{jobs[__${stat.index}__].designation}"></td>
                        <td><input class="form-control" type="date" th:field="*{jobs[__${stat.index}__].startDate}"></td>
                        <td><input class="form-control" type="date" th:field="*{jobs[__${stat.index}__].endDate}"></td>
                        <td><input class="form-control" type="checkbox" th:field="*{jobs[__${stat.index}__].currentJob}"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Education</h2>
            <table>
                <thead>
                <tr>
                    <th>College</th>
                    <th>Qualification</th>
                    <th>Major</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="education, stat : *{educations}">
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].college}"></td>
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].qualification}"></td>
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].major}"></td>
                    <td><input class="form-control" type="date" th:field="*{educations[__${stat.index}__].startDate}"></td>
                    <td><input class="form-control" type="date" th:field="*{educations[__${stat.index}__].endDate}"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <h2>Skills</h2>
            <table>
                <tbody>
                <tr th:each="skill, stat : *{skills}">
                    <td><input class="form-control" th:field="*{skills[__${stat.index}__]}"></td>
                </tr>
                </tbody>
            </table>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>